BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=
PRIVATE_KEY=

LJT_ADDRESS=
# Base: 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
# Base Sepolia: 0x036CbD53842c5426634e7929541eC2318f3dCF7e
USDC_ADDRESS=
TREASURY=
# USDC smallest units per 1 whole LJT. $0.10 = 100000
PRICE=
